/* .pic {
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: azure;
} */

.block {
  text-align: center;
  border-color: lightgrey;
  border: solid 1px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 800px;
  margin-bottom: 40px;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
}

.dscr {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.h1name {
  text-align: center;
}
