/* .pic {
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: azure;
} */

.block {
  float: left;
  width: 31%;
  text-align: center;
  border-color: lightgrey;
  border: solid 1px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 800px;
  margin-bottom: 10px;
}

.pic {
  padding-top: 20px;
  display: inline;
  width: auto;
  height: 350px;
}

.dscr {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.h1name {
  text-align: center;
}
